.our-services-submit{
    height: 50px;
    border: 2ox solid black;
    width: 90%;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    background-color: #073453;
}
.our-services-img{
    width:426.4px ;
    height: 426.4px;

}